<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practice.board.mapper.BoardMapper">

    <!-- 검색어 조건 처리 category, content, title, writer -->
    <sql id = "searchWhere">
    <!--
        <where> : 추가 쿼리 문의 내용을 <where> 문 안에 작성하면 첫 조건이 AND로 시작할지라도 WHERE로 치환해준다.
                AND||OR 뭐가 들어올지 모르는 매개변수일 때 where문을 쓰면 된다.
    -->
        <where>
            <if test = "category != null and category != '' and category != '전체'">
                AND category = #{category}
            </if>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        AND title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'writer'">
                        AND writer LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'content'">
                        AND content LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>

    </sql>


    <!-- 게시판 생성 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board_table (writer, category, title, content)
        VALUES (#{writer}, #{category}, #{title}, #{content})
    </insert>

    <!-- 게시글 전체 수 -->
    <select id="selectCount">
        SELECT COUNT(*) FROM board_table
        <include refid="searchWhere"/>
    </select>

    <!-- 게시글 조회 페이지네이션 -->
    <select id="pagenation" resultType="com.example.practice.board.dto.BoardListDto">
        SELECT category,title,writer,created_at
        FROM board_table
        <include refid="searchWhere"/>
        ORDER BY created_at DESC
        LIMIT #{pageSize} OFFSET #{offSet}
    </select>

    <!-- 게시물 조회 -->
    <select id="selectBoardId" parameterType="Long" resultType="com.example.practice.board.dto.BoardUpdateDto">
        SELECT board_id AS boardId,
        category AS category,
        title, writer, content
        FROM board_table
        WHERE board_id = #{boardId}
    </select>

    <!-- 게시판 수정 -->
    <update id="updateBoard" parameterType="com.example.practice.board.dto.BoardUpdateDto">
        UPDATE board_table
        SET category = #{category},
        title = #{title},
        content = #{content},
        writer = #{writer}
        WHERE board_id = #{boardId}
    </update>

    <!-- 게시판 삭제 -->
    <delete id="deleteMapper" parameterType="Long">
        DELETE FROM board_table WHERE board_id = #{boardId}
    </delete>
</mapper>
